@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;800&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  font-family: 'Manrope', sans-serif;
}
header {
  padding: 5px;
}
.logo {
  width: 160px;
  height: 32px;
  overflow: hidden;
}
.logo img {
  object-fit: contain;
  height: 30px;
  width: 100%;
}
/* nav bar div 2ith 3 items  */
.navbar {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e6e6e6;
  border-radius: 10px;
  padding: 0 15px;
  /* overflow: hidden; */
}
.nav ul {
  list-style: none;
}
.nav ul li {
  display: inline-block;
  position: relative;
}

.nav ul li a {
  padding: 4px 12px;
  display: inline-block;
  color: #206cb8;
  font-weight: 700;
}
.nav ul li:hover a {
  color: #0080ff;
  transition: all 0.5s;
}

/* .nav ul li i {
  color: #206cb8;
  font-size: 12px;
} */
.active {
  border-bottom: 2px solid #0080ff;
}
.nav ul li:hover {
  border-bottom: 2px solid #0080ff;
}

/*  Footer  */

.footer {
  width: 100%;
  padding: 5px;
}
footer {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  padding: 15px;
  background-color: #e6e6e6;
  flex-wrap: wrap;
}
footer > div {
  flex: 33%;
}
footer address p {
  color: #42688d;
  font-size: 22px;
}
footer address ul {
  margin-left: 15px;
  font-size: 18px;
  color: #206cb8;
  list-style: none;
}
footer address ul li {
  padding: 4px 18px;
}
footer address ul li:hover:not(.head) {
  opacity: 0.7;
}
footer address ul li.head {
  font-weight: 800;
}
footer address ul li span {
  color: #000;
  font-size: 16px;
  font-weight: 600;
}
footer .copyrights {
  flex: 100%;
  align-items: center;
  justify-content: center;
}
footer .copyrights p {
  color: #a3a3a3;
  font-size: 12px;
  text-align: center;
}
.social {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.social i {
  font-size: 24px;
  color: #42688d;
}

footer .inputs {
  display: flex;
  background-color: #fff;
  align-items: center;
  justify-content: space-between;
  height: 35px;
  max-width: 33%;
  flex: 30%;
}
footer .inputs label i {
  color: #07d400;
  font-size: 22px;
}
footer .inputs form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.inputs form button {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  background-color: #07d400;
  padding: 4px 16px;
  border: 1px solid transparent;
  outline: none;
}
footer .inputs input {
  border: none;
  height: 35px;
  width: 250px;
  padding: 4px 16px;
}
footer .inputs label {
  padding: 8px 16px;
  text-align: center;
  height: 35px;
}

.services {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 50px;
}
.services .cover {
  width: 100%;
  overflow: hidden;
  height: 600px;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../../services/AdobeStock_540684124_Preview-transformed.jpeg');
  background-attachment: scroll;
  background-size: cover;
}
.services .cover div {
  width: 75%;
  background-color: rgba(0, 0, 0, 0.2);
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.services .cover div p {
  font-size: 148px;
  color: #fffb00;
  font-weight: 800;
  text-transform: uppercase;
  font-style: italic;
  padding: 16px;
  stroke: 1px #0080ff;

  -webkit-text-stroke-width: 6px;
  font-family: 'Courier New', Courier, monospace;
  -webkit-text-stroke-color: #206cb8;
}
.services .cover img {
  object-fit: contain;
  width: 100%;
  max-width: 1000px;
}
.services .item {
  width: 95%;
  border-radius: 25px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 25px;
}
.services .item > img {
  width: 250px;
  object-fit: cover;
  border-radius: 0 30px 30px 0;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.1);
}

.services .item .content {
  width: 60%;
  min-height: 400px;
  padding: 60px;
  gap: 0;
}

.content .text {
  width: 100%;
  color: #000;
}
.content .text h1,
.content .text h1 span {
  font-size: 40px;
  color: #0080ff;
  text-transform: uppercase;
}
.content .text h1 span {
  color: rgb(190, 0, 0);
}
.content .text .desciption {
  font-size: 14px;
  color: #42688d;
  font-weight: 700;
  margin-top: -10px;
  text-transform: uppercase;
}

.content .text .text {
  font-size: 20px;
  font-weight: 600;
  width: 90%;
  padding-top: 15px;
  text-align: justify;
  text-transform: capitalize;
}

.item .images {
  display: flex;
  flex-wrap: wrap;
  padding: 0 20px;
  width: 60%;
}

.item .images div {
  margin-top: 20px;
  flex: 50%;
  width: 100px;
  overflow: hidden;
}

.item .images div img {
  width: 100%;
  border-radius: 15px;

  padding: 4px;
  transition: all 0.3s;
}

.item .images div img:hover {
  opacity: 0.5;
  cursor: pointer;
}

/* Module */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */

  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 100%;
  max-width: 1000px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 95%;
  max-width: 100px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content,
#caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}
/*  For Devices */
/* Wide Screen */

/* Lap Top */
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .service-items {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .service-items-group {
    flex: 100%;
    max-width: 100%;
    width: 90%;
  }
  footer {
    flex-direction: column;
    flex-wrap: wrap;
  }
  footer div {
    margin-top: 25px;
    flex: 33%;
  }
  footer .social {
    flex-direction: row;
  }
  footer .social a {
    padding: 15px;
    margin: 5px;
  }
  footer .social a i {
    font-size: 28px;
  }
  .contactus {
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .contacts {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .client-item,
  .card {
    flex: 20%;
  }
}
/* Tablet Devices*/
@media screen and (max-width: 767px) {
  .service-items {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .service-items-group {
    flex: 100%;
    max-width: 100%;
    width: 90%;
  }
  footer {
    flex-direction: column;
    flex-wrap: wrap;
  }
  footer > div {
    margin-top: 25px;
    flex: 50%;
  }
  .contactus .contacts .phones,
  .contactus .contacts .emails {
    flex: 100%;
    padding: 18px;
    gap: 10px;
    font-size: 18px;
    align-items: center;
    justify-content: center;
  }

  .client-item,
  .card {
    flex: 33%;
  }
}

/* Mobile Device */
@media screen and (max-width: 480px) {
  .service-items {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .service-items-group {
    flex: 100%;
    max-width: 100%;
    width: 90%;
  }
  footer {
    flex-direction: column;
    flex-wrap: wrap;
    gap: 35px;
  }
  footer > div {
    flex: 100%;
    padding-top: 55px;
    display: block;
  }

  .client-item,
  .card {
    flex: 50%;
  }
}
