* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body {
  position: relative;
}
.header {
  height: 55px;
  width: 100%;
  background-color: #00ad5f;
  margin-bottom: 15px;
}
header .logo {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

header .logo img {
  height: 45px;
  width: auto;
  display: block;
  margin-top: 5px;
}
header .logo i {
  color: white;
  font-size: 24px;
  cursor: pointer;
  transition: 0.5s;
}

.nav {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  width: 250px;
  height: 100vh;
  overflow-y: auto !important;
  background-color: #00ad5f;
  transition: ease-in-out 0.5s;
}
.hide {
  display: none !important;
  transition: all 0.5s;
}
.search {
  padding: 30px 15px;
}
.search div.in {
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 15px;
}
.search input {
  padding: 4px;
  height: 100%;
}
.search i {
  color: #0037ff;
}
.list {
  width: 100%;
  height: 100%;
}
.list ul {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  list-style: none;
}
.list ul li {
  /* display: block; */
  width: 100%;
}
.list ul li a {
  text-decoration: none;
  padding: 8px 18px;
  display: block;
  width: 100%;
  height: 100%;
  color: #fff;
  text-align: center;
  font-weight: 500;
}
.list ul li a:hover:not(.opened) {
  background-color: #009d56;
  color: #d8e2b1;
  font-size: 18px;
  transition: all 0.5s;
}
.bxs-right-arrow {
  font-size: 12px;
}
.list ul li a:hover .bxs-right-arrow {
  rotate: 90deg;
}
.opened {
  background-color: #009d56;
}
.rot {
  rotate: 180deg;
  padding: 0 15px;
  transition: all 0.5s;
}
li .sub-list li a {
  color: white;
}
.sub-list-item a {
  background-color: #00ad5f;
}
/*  Slide Show */

.slideshow {
  position: relative;
}
.slideshow,
.slide-item {
  width: 100%;
  /* height: 400px; */
  /* max-width: 400x; */
}
.slide-item {
  display: none;
}
.slide-item img {
  width: 100%;
  height: auto;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.content > div {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  min-height: 200px;
  display: flex;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.content > div > h2.head {
  margin-bottom: 15px;
  margin-top: 15px;
  color: #42688d;
  font-weight: 800;
}

.whoweare p,
.scope p {
  text-align: center;
  justify-content: left;
  padding: 0 50px 19px;
}
.cert-items {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cert-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 140px;
}

.cert-item img {
  max-width: 100px;
  height: auto;
}

.cert-item p {
  color: #206cb8;
  font-size: 22px;
  font-weight: 600;
}
/*  Services  */

.services h2 span,
.feeds h2 span {
  color: #07d400;
  font-weight: 800;
}

.service-items {
  max-width: 80%;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 15px;
}
.service-item-description {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.service-item-description span {
  width: 60px;
  height: 60px;
  text-align: center;
  padding-top: 20px;
  border-right: 1px solid #717171;
}
.service-item-description span i {
  font-size: 25px;
  color: #206cb8;
}
.service-item-description h3 {
  padding-left: 20px;
  font-weight: bold;
}

.service-items-group {
  max-width: 70%;
  width: 50%;
  margin-top: 15px;
  padding: 10px;
}

.service-item {
  padding: 10px 60px;
}

/* Clients */
.client-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.client-item {
  /* max-width: 100px; */
  width: 14%;
}

.client-items img {
  width: 100%;
}
/* Feed Back */
.cards {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: first baseline;
  flex-wrap: wrap;
  flex-grow: 7;
}

.card {
  width: 20%;
  max-width: 250px;
  overflow: hidden;
  padding: 15px;
}
.card img {
  width: 100%;
  height: auto;
}

.card p,
.card h4 {
  text-align: center;
}
