:root {
  --maincolor: #206cb8;
  --secondcolor: #00ad5f;
  --darksecond: #008448;
  --softcolor: #e6e6e6;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  transition: 0.5s;
}
body {
  position: relative;
}

header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--secondcolor);
  height: auto;
  min-height: 55px;
  box-shadow: 5px 5px 5px #e6e6e6;
}
header div {
  max-width: 33%;
  min-width: 150px;
  width: 33%;
  display: flex;
  align-items: center;
  justify-content: center;
}

header img {
  display: inline-block;
  width: auto;
  height: 35px;
}

header i {
  color: #fff;
  font-size: 24px;
  cursor: pointer;
  transition: 0.5s;
}

/* Nav  */
.icon {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  max-width: 300px;
  padding: 0;
  /* display: none !important; */
  transition: 0.5s;
}
.nav {
  transition: 0.5s;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--secondcolor);
  max-width: 350px;
  box-shadow: -1px 1px 5px var(--maincolor);
}

.nav .search {
  margin-top: 40px;
  min-width: 210px;
  height: 35px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav .search i {
  color: var(--maincolor);
  min-width: 15%;
  padding: 0 4px;
}
.nav .search input {
  width: 100%;
  padding: 4px 16px;
}

.nav .search input::placeholder {
  color: var(--maincolor);
  font-weight: 600;
}
.nav .social {
  text-decoration: none !important;
  color: white;
  padding: 15px;
  text-align: center;
}

.nav .social a {
  padding: 4px 16px;
}
.nav .social a i {
  border-bottom: 3px solid transparent;
}
.nav .social a:hover i {
  box-sizing: border-box;
  color: var(--maincolor);
  border-bottom: 3px solid var(--maincolor);
}
nav ul {
  list-style: none;
  width: 100%;
}
nav ul li {
  width: 100%;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
nav ul li a {
  padding: 8px 16px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
  width: 100%;
  text-align: center;
}

nav ul li a:hover {
  background-color: var(--darksecond);
}
nav ul li i {
  font-size: 12px;
  rotate: 90deg;
}
nav ul li:hover i {
  rotate: 270deg;
}
.opened-list {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--darksecond);
}
.hide {
  display: none;
  transition: all 0.5s;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.content div.item {
  width: 100%;
  height: auto;
  border: 1px solid red;
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.item .img {
  max-width: 40%;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
div.item img {
  width: 100%;
  height: auto;
}
.item .text {
  position: relative;
  width: 60%;
  min-height: 100%;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item .text h2 {
  position: absolute;
  top: 0px;
  left: 20px;
}
/*  For Devices */
/* Wide Screen */
@media screen and (min-width: 1200px) {
}

/* Lap Top */
@media screen and (min-width: 768px) and (max-width: 1199px) {
  body {
    background-color: blue;
  }
}

/* Tablet Devices*/
@media screen and (max-width: 767px) {
  body {
    background-color: green;
  }
}

/* Mobile Device */
@media screen and (max-width: 480px) {
  body {
    background-color: yellowgreen;
  }
}
